<import from="../components/category-card"></import>
<div class="d-flex justify-content-center">
    <h1>The home of Chuck Norris jokes</h1>
</div>
<br>
<div class="d-flex justify-content-center">
    <h2>Select a Category</h2>
</div>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column col-lg-5 col-xs-3">
        <category-card class="mt-4" category-name.bind="'Celebrity'" view-name.bind="'celebrity-view'"></category-card>
        <category-card class="mt-4" category-name.bind="'Money'" view-name.bind="'money-view'"></category-card>
        <category-card class="mt-4" category-name.bind="'Travel'" view-name.bind="'travel-view'"></category-card>
    </div>
</div>